<div class="container">
  <div class="form-group">
<h1>Project Manager App</h1>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="form-control">
  <label for="name">Project Name</label>
    <input formControlName="projectName" type="text" id="name" class="form-control" placeholder="My Project name..." autocomplete="off">
    <span style="color: green" *ngIf="projectForm.get('projectName').valid">Project name Available <i class="fa-solid fa-check"></i></span>
    
      <span style="color: red" class="help-block" *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').dirty">
        <span *ngIf="projectForm.get('projectName').errors['isProjNameExist']">Project name Unavailable <i class="fa-solid fa-x"></i></span>
      <span *ngIf="projectForm.get('projectName').errors['required']">Please Fill The Field <i class="fa-solid fa-x"></i></span>
  </span>
  <br>
  <label for="mail">Email</label>
    <input formControlName="email" type="email" id="mail" class="form-control" placeholder="email@example.com..." autocomplete="off">
    <span style="color: green" *ngIf="projectForm.get('email').valid">Email Available <i class="fa-solid fa-check"></i></span>

    <span style="color: red" class="help-block" *ngIf="!projectForm.get('email').valid && projectForm.get('email').dirty">
      <span *ngIf="projectForm.get('email').errors['required']">Please fill the Field <i class="fa-solid fa-x"></i></span>
      <span *ngIf="projectForm.get('email').errors['isEmailExist']">Email address Unavailable <i class="fa-solid fa-x"></i></span>
      <span *ngIf="projectForm.get('email').errors['email']">Please Enter an existing Email address <i class="fa-solid fa-x"></i></span>
  </span>
    <br>
    <label for="status">Project Status</label>
      <select formControlName="status" class="form-control" id="status">
        <option *ngFor="let projstatus of statusList; let i = index" [value]="statusList[i]">{{ statusList[i] }}</option>
      </select>
    <hr>
  <button class="btn btn-primary" type="submit" >Submit</button>
  <span *ngIf="isSent" class="submit-message">Project Submitted Successfuly <i class="fa-solid fa-check"></i></span>
  <br>
  <strong style="color: blue;"> Sort by Status:</strong>
  <br>
  <div formArrayName="statusCheckboxs" *ngFor="let status of statusList; let i = index" class="col-xs-12">
    <input (click)="onChecked($event.target)" [formControlName]="i" type="checkbox" id="checkbox" class="checkbox" [value]="statusList[i]">
  <label id="checkbox-label" [ngClass]="setStatusClasses(statusList[i])">{{ statusList[i] }}</label>
  </div>
</form>  
<hr>
  <div class="row">
    <div *ngIf="isLoading && !error" style="text-align: center;">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="error" class="alert alert-danger"  style="text-align: center; color: red;">
      <p> Oops... Unable to load Projects due to an error...</p>
    </div>
  <ul *ngIf="!isLoading" class="list-group">
    <li id="project-item" class="list-group-item" [ngClass]="setStatusClasses(project.status)" 
    *ngFor="let project of projects | checkboxSort:statusList | checkboxSort:checkedStatuses">
    <div class="project-detail">
      <strong>{{ project.name }}</strong> |
      {{ project.email }} | <span>
        {{ project.status }}
      </span>
    </div>
    <span *ngIf="deletedProjectsId.includes(project.id)" class="delete-message">Deleting Project...</span>
    <span *ngIf="errorDeletedProjectsId.includes(project.id)" class="delete-message">An Error occurred, we were unable to delete the Project...</span>
    <div class="delete-section">
      <span (click)="removeProject(project.id)"><strong>Delete Project</strong></span>
    </div>
    </li>
  </ul>
  </div>
  <br>
</div>
<footer class="mt-5 p-3 text-center bg-light">
  Made by: Omer Meshulam &copy;
</footer>
</div>